@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0a0a0a;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

* {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #9333ea, #ec4899);
  border-radius: 10px;
}
